.container{
 border: 2px red solid;
 height: 75px;
 width: 500px;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
}

.bus{
 background-color:blue;
 width: 300px;
 height: 30px;
}

.lorry{
 background-color: skyblue;
 width: 600px;
 height: 30px;
}

.car{
 background-color: red;
 width: 600px;
 height: 30px;
}

.text{
color: white;
text-align: center;
padding-top: 10px;
}
